*{
box-sizing: border-box;

}

body {
  background-image: url(landscape-4152305_960_720.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: sans-serif;
  background-attachment: fixed;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25rem;
  padding: 2.5rem;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.625rem;
}

.container h2 {
  margin: 0 0 3rem;
  padding: 0;
  color: #fff;
  text-align: center;
}

.container .inputBox {
  position: relative;
}

.container .inputBox input {
  width: 100%;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.062rem;
  margin-bottom: 1.875rem;
  border: none;
  border-bottom: 0.065rem solid #fff;
  outline: none;
  background: transparent;
}

.container .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}


.container input[type="submit"] {
  border: none;
  outline: none;
  color: #fff;
  background-color: #03a9f4;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
  border-radius: 0.312rem;
  font-size: 1rem;
}
/* the Hover */


.container input[type="submit"]:hover {
  background-color: #96d5f3;
}
